<div class="modal-body">
    <div class="row m-wrapper">
        <div class="col-12 m-content">
                <div class="card hovercard">
                    <div class="cardheader"></div>
                    <div class="avatar">
                        <img alt="" src="assets/images/Rabea.png">
                    </div>
                    <div class="info desc">
                        <h6>
                            I’m Rabea and I will be your host during the bootcamp. Don’t hesitate to ask me any question you have. either via email, phone or a call. Feel free to call me or send me an email with any question you could have about our campus in Tel Aviv.
                        </h6>
                    </div>
                    <div class="row">
                      <div class="col-12">
                          <a data-controller="trackers" data-event="Contact" data-action="click->trackers#activateTracker" class="cta cta-big cta-secondary contact" href="tel:+972542764061">Call me<i>+972527972474</i></a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                          <a data-controller="trackers" data-event="Contact" data-action="click->trackers#activateTracker" class="cta cta-big cta-secondary contact" href="mailto:rabea@lewagon.com">Send me a message<i>rabea@lewagon.com</i></a>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a class="cta cta-big cta-primary contact" href="https://meetings.hubspot.com/rabea" target="_blank">Schedule a meeting</a>
                        </div>
                      </div>
                  </div>
            </div>
      </div>
</div>