<div class="row section">
  <div class="col-md-8 col-sm-12">
    <div class="row txt-wrapper">
      <h1>A product mindset, technical skills, and a go-to-market strategy</h1>
      <p>These are the three crucial components every tech entrepreneur needs to master. Over the span of 14 weeks, the Adelson
      School of Entrepreneurship in Interdisciplinary Center Herzliya (IDC) and Le Wagon Coding Bootcamp will bring together
      experienced mentors, teachers, investors, like-minded entrepreneurs and the immersive experience of Startup Nation to
      build your MVP and learn how to launch a startup.</p>
    </div>
    
    <idc-info-card></idc-info-card>
  </div>

  <div class="col-md-4 col-sm-12">
    <div class="row img-wrapper">
      <div class="col-12">
          <img src="assets/images/FRA_5225.jpg" alt="" class="img">
        </div>
    </div>
    <div class="row">
      <div class="col-6">
        <img src="assets/images/teach.jpg" alt="" class="img">
      </div>
      <div class="col-6">
        <img src="assets/images/RAJ_933.jpg" alt="" class="img">
      </div>
    </div>
  </div>
</div>