@import url("http://fonts.googleapis.com/css?family=Rubik:700|Roboto:300,400,500,900");

body {
  font-family: "Roboto", "Helvetica", "sans-serif";
  color: #4f4f4f;
}
h1, h2, h3 {
  font-family: "Rubik", "sans-serif";
  margin-top: 0;
}
h1 {
  font-weight: bold;
  color: #002a52
}
img {
  border-radius: 4px;
}
p {
  font-size: 17px
}

.header {
  width: 100vw;
  height: 60vh;
  background: linear-gradient(-90deg,
    rgba(0,0,0,0.5) 0%,
    rgba(0,0,0,0.6) 70%
  ), url("https://res.cloudinary.com/wagon/image/upload/c_fill,q_auto,w_1440/v1541765086/xnq7sxknj6mcu2skxxiq.webp");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header h1 {
  font-weight: bold;
  color: white !important;
  font-size: 60px;
  margin-top: 0
}
.header p {
  letter-spacing: 0.5px;
  color: white !important;
  opacity: 0.9;
  font-size: 17px;
  margin-bottom: 0;
}
.header-text {
  padding-left: 3vw;
  margin-left: 8vw;
  flex: 0 0 40vw;
  border-left: 1px solid white;
}
.logos {
  padding-right: 3vw;
  margin-right: 8vw;
}
.logos img {
  display: block;
}
.idc-logo {
  width: 420px;
  margin-bottom: 40px;
}
.lwgn-logo {
  width: 240px;
  margin-bottom: 40px;
}
.description-section {
  display: flex;
  align-items: center;
  min-height: 40vh;
  background: rgba(224, 233, 240, 1)
}
.description-section img {
  padding-left: 8vw;
  width: 380px;
}

.text-section {
  max-width: 60vw;
  padding-left: 3vw
}
.info-section {
  display: flex;
  align-items: center;
  min-height: 560px;
}
.images {
  width: 450px;
}
.images img {
  margin-bottom: 20px;
}
.img-couple {
  display: flex;
  justify-content: space-between;
}
.info-text {
  padding-right: 100px;
}
.staff-section {
  background: #4d7895;
  padding-right: 7vw;
  padding-left: 7vw;
  height: 700px;
  padding-top: 70px
}
.staff-section h1 {
  text-align: center;
  color: white;
}
.staff-flex {
  display: flex;
  justify-content: space-between;
}
.card {
  border-radius: 3px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
  background-color: #f4f3f3;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 40px;
  margin-top: 40px;
  width: 25vw;
  min-height: 460px;
  text-align: center;
}
.card span {
  opacity: 0.8;
}
.card h3 {
  opacity: 0.8;
  color: #002a52;
}
.card img {
  border: 4px solid white;
  margin-bottom: 20px;
  width: 180px;
  border-radius: 50%;
}
.partners {
  text-align: center;
  padding-top: 35px;
}
.partners h1 {
  text-align: center;
  margin-bottom: 40px;
}

.footer {
      background: #2e2e3b;
    border-bottom: 5px solid #46a1d8;
    color: white;
    margin-top: 40px;
    text-align: center;
    padding-top: 20px;
}

