<div class="about-us">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>About us</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 text-box">
        <div class="card-about press-card">
            <a target="_blank" href="https://www.lewagon.com/tel-aviv">
              <img class="lozad" src="assets/images/le-wagon-color-sm.png" data-loaded="true">
            </a>
            <div class="card-content switchup">
              <div class="switchup-details">
                <p>The No. 1 rated coding bootcamp in the world for the last 3 years. We strongly believe that there is a good way of building web products. During our bootcamp, we teach you how successful
                startups work: design your project's wireframe & mockup, test your UX with a prototype, split your user stories across
                your team and collaborate with branch and pull requests with git and Github.
                </p>
                <a class="cta-link" target="_blank" rel="noopener" href="https://www.switchup.org/bootcamps/le-wagon">
                  Read 780+ reviews
                  <svg class="carret" data-target="dropdown.carret" height="3" viewBox="0 0 8 3" width="8"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="m66.3706055 9 2.8516167 3 2.7777778-3" fill="none" stroke="#42464c" stroke-linecap="round"
                      stroke-linejoin="round" transform="translate(-65 -9)"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-6 col-sm-12 text-box">
        <div class="card-about press-card">
            <a target="_blank" href="https://www.idc.ac.il/en/pages/home.aspx">
              <img class="lozad" src="assets/images/IDC_logo-sm.png" data-loaded="true">
            </a>
            <div class="card-content switchup">
              <div>
                <p>The Interdisciplinary Center (IDC) Herzliya is Israel's first privately-funded not-for-profit fully-accredited
                institution of higher education. Founded by renowned Israeli Professor Uriel Reichman in 1994, IDC Herzliya is modeled
                after Ivy League universities in the U.S. In the 25 years since its establishment, the success of IDC Herzliya has drawn
                both international recognition and some of the finest lecturers and researchers from around the world to its doorstep.</p>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>