.about-us {
    margin-top: 30px;
    background: #f5f5f5;
    padding-bottom: 20px;
}

.title {
    margin-top: 25px;
}

.press-card {
    padding: 0 50px;
    margin-top: 20px;
    padding-top: 15px;
}

.text-box {
    margin-bottom: 20px;
}

.card-about {
    height: 100%;
    background: #fff;
    box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07)
}

.lozad {
    margin-bottom: 20px;
    margin-top: 20px;
}