<div class="about-us">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>About us</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 text-box">
        <div class="card-about press-card">
            <a target="_blank" href="https://www.lewagon.com/tel-aviv">
              <img class="lozad" src="assets/images/le-wagon-color-sm.png" data-loaded="true">
            </a>
            <div class="card-content switchup">
              <div class="switchup-details">
                <p>The No. 1 rated coding bootcamp in the world for the last 3 years. We strongly believe that there is a good way of building web products. During our bootcamp, we teach you how successful
                startups work: design your project's wireframe & mockup, test your UX with a prototype, split your user stories across
                your team and collaborate with branch and pull requests with git and Github.
                </p>
                <a class="cta-link" target="_blank" rel="noopener" href="https://www.switchup.org/bootcamps/le-wagon">
                  Read 780+ reviews
                  <svg class="carret" data-target="dropdown.carret" height="3" viewBox="0 0 8 3" width="8"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="m66.3706055 9 2.8516167 3 2.7777778-3" fill="none" stroke="#42464c" stroke-linecap="round"
                      stroke-linejoin="round" transform="translate(-65 -9)"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-6 col-sm-12 text-box">
        <div class="card-about press-card">
            <a target="_blank" href="https://www.idc.ac.il/en/pages/home.aspx">
              <img class="lozad" src="assets/images/IDC_logo-sm.png" data-loaded="true">
            </a>
            <div class="card-content switchup">
              <div>
                <p>The Adelson School of Entrepreneurship (ASE) at the IDC Herzliya 
                  provides students with the training, expertise, and resources needed to launch 
                  the next generation of successful Israeli ventures, while strengthening 
                  and cultivating the country’s startup ecosystem. ASE offers undergraduate 
                  and graduate-level experiential learning that combines academics with 
                  hands-on entrepreneurship opportunities beyond the classroom. Our alumni have 
                  founded companies such as The Gifts Project, VoloNet, visual.ly, and Wibbitz Which were acquired by 
                  international companies such as Google, eBay and others.</p>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>