.card {
    background: none;
    border: none;
    margin-bottom: 20px;
}

.img-wrapper {
    margin-right: 10px;
}

.text h3 {
    color: #002a52;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bolder;
    letter-spacing: 0.6px;
}

.text h2 {
    color: #4f4f4f;
    font-size: 17px;
}